<!--base-->
<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title> {% block title%} Aplikacija za upravljanje skladistem{% endblock %}</title>
</head>


<body>
<main>
{%if user.is_authenticated%}
    <!--buttons for accessing app - should be put in header-->
    <a href={%url 'proizvodi'%}>Proizvodi</a>
    <a href={%url 'kategorije'%}>Tipovi proizvoda</a>
    <a href={%url 'jedinice_mjere'%}>Jedinice mjere</a>
    <!--//buttons for accessing app - should be put in header-->

    <form action="{% url 'logout'%}" method="post"> <!--form responsible for logging out-->
        {%csrf_token%}
        <button type="submit">Log Out</button>
    </form>

{%endif%}
{%block content%}
{%endblock%}
</main>    

</body>    
</html>