{%extends "base.html"%}
{%block title%} Measurement Units {%endblock%}
{% block content %}
<h2>Measurement Units </h2>
<div class="card">
<div class="card-body">
<a href={%url 'nova_jedinica'%} class="btn btn-primary">New Unit</a>
<table class="table">
    <tr>
        <th class="col">Opcije</th>
        <th class="col">Naziv jedinice</th>
    </tr>

    {%for jedinica in jedinice%}
    <tr>
        <td><a href="{% url 'update_jedinica' jedinica.pk %}" class="btn btn-secondary">Edit</a> <a href="{% url 'delete_jedinica' jedinica.pk %}" class="btn btn-danger">Delete</a></td>

        <td>{{jedinica.naziv_jedinice}}</td>
        
    </tr>

    {%empty%}
    <p><strong>Units list empty!</strong><p>
    
    {%endfor%}

</table>
</div>
</div>


{% endblock %}