{%extends "base.html"%}
{%block title%} Product Categories {%endblock%}
{% block content %}
<h2>Product Categories </h2>
<a href={%url 'novi_tip'%}>New Category</a>

<table>
    <tr>
        <th>Opcije</th>
        <th>Naziv tipa</th>
        <th>Iznos PDV-a</th>
    </tr>

    {%for tip in tipovi%}
    <tr>
        <td><a href="{% url 'update_tip' tip.pk %}">Edit</a> <a href="{% url 'delete_tip' tip.pk %}">Delete</a></td>

        <td>{{tip.naziv_tipa}}</td>
        <td>{{tip.iznos_pdv | floatformat:2}}</td>
    </tr>


    {%endfor%}

</table>

{% endblock %}