{%extends "base.html"%}
{%block title%} Products {%endblock%}
{% block content %}
<h2>Products </h2>
<a href={%url 'novi_proizvod'%}>New Product</a>

<form method="post">
    {% csrf_token %}
    <h4>Filter:</h4>
    {{form.as_p}}
    
    <button type="submit">Apply</button>
</form>    
<table>
    <tr>
        <th>Opcije</th>
        <th>Naziv</th>
        <th>Opis</th>
        <th>Količina</th>
        <th>Tip proizvoda</th>
        <th>Jedinica mjere</th>
        <th>Dodao</th>
        <th>Jedinična cijena</th>
        <th>Jedinična PDV osnovica</th>
        <th>Jedičina ukupna cijena</th>
    </tr>

    {%for proizvod in proizvodi%}
    <tr>
        <td><a href="{% url 'update_proizvod' proizvod.pk %}">Edit</a> <a href="{% url 'delete_proizvod' proizvod.pk %}">Delete</a></td>
        <td>{{proizvod.naziv_proizvoda}}</td>
        <td>{{proizvod.opis_proizvoda|truncatewords:8}}</td>
        <td>{{proizvod.kolicina}}</td>
        <td>{{proizvod.tip_proizvoda}}</td>
        <td>{{proizvod.jedinica_mjere}}</td>
        <td>{{proizvod.zaposlenik}}</td>
        <td>{{proizvod.jedinicna_cijena | floatformat:2}}</td>
        <td>{{proizvod.jedinicna_osnovica_pdv | floatformat:2}}</td>
        <td>{{proizvod.jedinicna_ukupna_cijena | floatformat:2}}</td>
    </tr>
    {%empty%}
    <p><strong>Product list empty!</strong><p>

    {%endfor%}

</table>

{% endblock %}